<ion-content>
  <topo-login title="Cadastrar usuário"></topo-login>
  <form [formGroup]="loginForm" (submit)="createUser()">
    <ion-item> <!-- Nome -->
      <ion-icon slot="start" color="roxo" name="person"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autfocus="true"></ion-input>
    </ion-item>
    <ion-item> <!-- Sobrenome -->
      <ion-icon slot="start" color="roxo" name="person"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item> 
    <ion-item> <!-- email -->
      <ion-icon slot="start" color="roxo" name="mail"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item> <!-- Senha -->
      <ion-icon slot="start" color="roxo" name="lock-closed"></ion-icon>
      <ion-input formControlName="pass" type="password" placeholder="Senha"></ion-input>
    </ion-item> 
    <ion-item> <!-- Confirmar senha -->
      <ion-icon slot="start" color="roxo" name="lock-closed"></ion-icon>
      <ion-input formControlName="confirm_pass" type="confirm_pass" placeholder="Confirmar senha"></ion-input>
    </ion-item> 
    <ion-button [disabled]="loginForm.invalid" type="submit" shape="round"  expand="block" color="roxo">Enviar</ion-button>
  </form><br><br>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
