#logo-div {
    display: flex;
    align-items: center; //vertical
    height: 40%;
    justify-content: center; //horizontal

    h3, p {
        text-align: center;
    }

    img {
        margin-left:35%;
        height: 30%;
        width: 30%;
    }
}