<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> <br>
  <form [formGroup]="contasForm" (submit)="registraConta()">

    <ion-item> <!-- Parceiro comercial -->
      <ion-icon slot="start" color="roxo" name="person"></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autofocus></ion-input>
    </ion-item>

    <ion-item> <!-- Descrição da conta -->
      <ion-icon slot="start" color="roxo" name="document"></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição da conta"></ion-input>
    </ion-item>
    
    <ion-item> <!-- Descrição da conta -->
      <ion-icon slot="start" color="roxo" name="wallet"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Vencimento </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-radio-group formControlName="tipo"> <!-- Tipo de conta -->
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="pagar"> </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <br><br>
    <ion-button [disabled]="contasForm.invalid" type="submit" shape="round"  expand="block" color="roxo">Enviar</ion-button>
  </form>
</ion-content>
