<ion-content class="ion-padding">
  <topo-login></topo-login>
  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item> <!-- email -->
      <ion-icon slot="start" color="roxo" name="mail"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus></ion-input>
    </ion-item>
    <ion-item> <!-- Senha -->
      <ion-icon slot="start" color="roxo" name="lock-closed"></ion-icon>
      <ion-input formControlName="pass" type="password" placeholder="Senha"></ion-input>
    </ion-item> <br><br>
    <ion-button [disabled]="loginForm.invalid" type="submit" shape="round"  expand="block" color="roxo">Enviar</ion-button>
  </form><br><br>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="medium">Esqueci minha senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" fill="clear" color="medium">Criar usuário</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
