<ion-content class="ion-padding">

  <topo-login title="Esqueci minha senha"></topo-login>

  <form [formGroup]="loginForm" (submit)="recoverPass()">
    <ion-item> <!-- email -->
      <ion-icon slot="start" color="roxo" name="mail"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus></ion-input>
    </ion-item><br><br>
    <ion-button [disabled]="loginForm.invalid" type="submit" shape="round"  expand="block" color="roxo">Enviar</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
